<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-profile-inner">
            <input placeholder="Search"/>
            <button class="modal-profile-button"><i class="fas fa-search"></i></button>
            <div class="modal-profile-list">
                <ul>
                </ul>
            </div>
            <div id="modal-arrow">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
        <div>
            <span class="close">&times;</span>
        </div>
    </div>
</div>
