.dropdown-friends {
    display: none;
    position: absolute;
    background: var(--background-secondary);
    color: var(--font-primary);
    min-width: 12.85em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 300px;
    overflow: auto;
}

.dropdown-friends {
    margin-left:-5.95em;
}

.notify-friends:hover .dropdown-friends {
    display: block;
}

.dropdown-friends li {
    padding:1em 0.3em;
}

.dropdown-friends li:hover {
    background: var(--background-message);
}

.dropdown-friends p {
    background: transparent;
    font-size: 0.8em;
    padding: 0.3em 0;
}

